/* scaffolding */

@use '~/assets/scss/general/variables' as *;
@use '~/assets/scss/abstracts/mixins' as *;

html,
body,
/* stylelint-disable-next-line selector-id-pattern */
body > #__nuxt {
	height: 100%;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	border: 0;
	margin: -1px;
	clip-path: rect(0 0 0 0);
	white-space: nowrap;
}
